<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form method="post" action="{% url 'submit_answer' %}">
        {% csrf_token %}
        {% for question in questions %}
          <p>{{ question.question_text }}</p>
          <input type="text" name="question_{{ question.id }}_answer"><br>
        {% endfor %}
        <button type="submit">Submit</button>
      </form>
    
</body>
</html>